<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>l1player</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .trackrow {
            display: inline-block;
            border: 1px solid white;
        }

        .songname {
            white-space: nowrap;
            background-color: white;
            width: 150px;
            overflow: hidden;
            text-overflow: clip;
        }
        .votes {
            min-width: 60px;
        }
    </style>
</head>
<body>
<div>
    <button id="random">play random track</button>
    <details>
        <summary>about</summary>
        <p>this webapp is a online-tool for managing musical collections. this project was inspired by app
            https://z1.fm/, it also allows anonymously listen to music. but also has unique features - categories
            management. it allows any user indicate genre and velocity of melody after listening it. this estimation is
            saved to db. and using this categories another users will be able to filter music they will listen.</p>

        <p>this project implemented by using python-framework flask and sqlite db and pure javascript. you are welcome
            to suggest ideas and feedbacks in issue-tracker of this repository</p>
    </details>
    <a href=""></a>
</div>
{% for track in tracks %}
    <div id="{{ track[0] }}" class="trackrow" title="{{ track[0] }}">
        <audio controls preload="none">
            {#            <source src="https://github.com/vetsinen/l1player/blob/master/static/mp3/{{ track[0] }}.mp3?raw=true" ype="audio/mpeg">#}
            <source src="static/mp3/{{ track[0] }}.mp3" ype="audio/mpeg">
        </audio>
        <span class="songname" title="{{ track[0] }}<->{{ track[1] }}"> {{ track[0] }}</span>
        <select class="genre" onchange="send('{{ track[0] }}')" style="max-width: 120px">
            {#            <option value="{{ track[1] }}" >{{ track[1] }}</option> #}
            <option selected="selected" disabled>choose genre</option>
            <option value="popular">popular</option>
            <option value="salsa cubana">salsa cubana</option>
            <option value="bachata">bachata</option>
            <option value="urban kiz">urban kiz</option>
            <option value="chachacha">chachacha</option>
            <option value="salsa la">salsa la</option>
            <option value="merengue">merengue</option>
            <option value="timba">timba</option>
            <option value="dominicana">dominicana</option>
            <option value="son">son</option>
            <option value="kizomba(tradicional)">kizomba(tradicional)</option>
            <option value="tarraxinha">tarraxinha</option>
            <option value="TarraxO">TarraxO</option>
            <option value="zouk">zouk</option>
            <option value="tango">tango</option>
            <option value="semba">semba</option>
            <option value="douceur">douceur</option>
        </select>
        <button class="votes" value="{{ track[3] }}" onclick="like('{{ track[0] }}')">{{ track[3] }}❤</button>


        {#        <select class="velocity">#}
        {#            {% if tracks[2]|length %}#}
        {#                <option value="{{ track[2] }}" selected="selected">{{ track[2] }}</option>#}
        {#            {% endif %}#}
        {#            <option disabled>choose velocity</option>#}
        {#            <option value="slow">slow</option>#}
        {#            <option value="normal">normal</option>#}
        {#            <option value="fast">fast</option>#}
        {#        </select>#}
    </div>
{% endfor %}

<script>
    let tracks = {{tracks | safe}};
    const tracksN = tracks.length;
</script>
<script src="static/main.js"></script>
<style>
    body {
        background-image: url('{{backimg}}');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1.5;;
    }
</style>
</body>
</html>